
    #logo {
      --size: 1.5rem;
      width: var(--size);
      height: var(--size);
      padding-top: calc(var(--size) / 40 * 12);
      font-family: sans-serif;
      font-size: calc(var(--size) / 4);
      font-weight: bold;
      text-align: center;
      --aug-border: initial;
      --aug-border-all: calc(var(--size) / 20);
      --aug-clip-tl1: initial;
      --aug-tl1: calc(var(--size) / 40 * 12);
      --aug-clip-tr1: initial;
      --aug-tr1: calc(var(--size) / 40 * 12);
      --aug-clip-b1: initial;
      --aug-clip-b2: initial;
      --aug-b1: calc(var(--size) / 10);
      --aug-b2: calc(var(--size) / 10);
      --aug-b-extend1: calc(var(--size) * 0.35);
    }
    body {
      --media-prefers-light: initial;
	  --red-color: #9e2a34d9;
      --c0-l: var(--media-prefers-light) #257ae4;
      --c0-l-a: var(--media-prefers-light) rgba(37, 122, 228, 0.25);
      --c0-l-i: var(--media-prefers-light) gold;
      --c1-l: var(--media-prefers-light) #fffffd;
      --c1-l-i: var(--media-prefers-light) #1e1e1c;
      --c2-l: var(--media-prefers-light) #fdfdfa;
      --c3-l: var(--media-prefers-light) #e4e4e4;
      --c4-l: var(--media-prefers-light) #fcfcfa;
      --c0: var(--c0-l, gold);
      --c0-a: var(--c0-l-a, rgba(255, 215, 0, 0));
      --c0-i: var(--c0-l-i, #257ae4);
      --c1: var(--c1-l, #1e1e1c);
      --c1-i: var(--c1-l-i, #fffffd);
      --c2: var(--c2-l, #1d1d1b);
      --c3: var(--c3-l, #2c2c2a);
      --c4: var(--c4-l, #312d18);
      --hbl: var(--media-prefers-light) #4039a5;
      --hot-blue: var(--hbl, #b1ffff);
      --hot-red: #ff604d;
      --hot-green: #b9ffb1;
      --sm-width: var(--media-lte-sm) 100vw;
      --md-width: var(--media-md) 50%;
      --width: var(--sm-width, var(--md-width, 70%));
      --height: calc(var(--width) / 30 * 27);
      --bgoffsetx: var(--media-lte-sm) left;
      background: linear-gradient(
        to right,
        var(--c3) 1px, transparent 1px,
        transparent calc(var(--width) / 5 - 1px),
        var(--c3) calc(var(--width) / 5 - 1px),
        var(--c3) calc(var(--width) / 5)
      ) var(--bgoffsetx, center) top / calc(var(--width) / 5) 100%,
      linear-gradient(
        to bottom,
        var(--c3) 1px, transparent 1px,
        transparent calc(var(--height) / 5 - 1px),
        var(--c3) calc(var(--height) / 5 - 1px),
        var(--c3) calc(var(--height) / 5)
      ) center top / 100% calc(var(--height) / 5),
      repeating-linear-gradient(
        to right,
        var(--c1), var(--c2) 15%, var(--c1) 20%
      ) center center / calc(var(--width) / 5) calc(var(--height) / 5);
      --do-transform: initial;
    }
    .explosion {
      --do-transform: ;
    }
    #presentation {
      position: relative;
      width: var(--width);
      height: var(--height);
      margin-left: auto;
      margin-right: auto;
      background: linear-gradient(to bottom, transparent 45%, black 50%, transparent 55%, transparent 100%) center center / 100% 20%,
                  linear-gradient(to right, transparent 47%, black 50%, transparent 53%, transparent 100%) center center / 20% 100%,
                  radial-gradient(at center, black, var(--c0) 35%, black 95%);
      --glow: var(--do-transform) 0px 0px 150px var(--c0-a);
      box-shadow: var(--glow, none);
      transition: box-shadow 0.66s cubic-bezier(1, -1.5, 0.33, 2.75);
    }
    #wrap3d > #backdrop {
      --pjAnim-frame: 22; /* backdrop v1 animation frame [0,23] */
      display: none;
      position: absolute;
      left: 20%;
      top: 20%;
      width: 60%;
      height: 60%;
      box-shadow: inset 0px 0px 2rem var(--c0-a);
      --spritesheet-l: var(--media-prefers-light) url(/img/v1spritesheet-blue.png);
      background: var(--spritesheet-l, url(/img/v1spritesheet.png)) 0px calc((100% / 23) * var(--pjAnim-frame)) / 100% auto no-repeat, var(--c1);
    }
    #presentation.showv1 #backdrop {
      display: block;
    }
    #terminal-frame {
      --pjAnim-termw: 32%;
      --pjAnim-termh: 66%;
      text-align: left;
      position: absolute;
      bottom: 0px;
      left: 0px;
      overflow: hidden;
      width: var(--pjAnim-termw);
      height: var(--pjAnim-termh);
      --aug-inlay: initial;
      --aug-inlay-all: 0px;
      --aug-inlay-bg: var(--c1);
      --aug-inlay-opacity: 0.87;
      --aug-border: initial;
      --aug-border-all: 5px;
      --aug-border-bg: radial-gradient(circle at 5px calc(100% - 5px), var(--c0) 5px, transparent 5px),
                   radial-gradient(circle at calc(100% - 5px) calc(100% - 5px), var(--c0) 5px, transparent 5px),
                   radial-gradient(circle at calc(100% - 5px) 5px, var(--c0) 5px, transparent 5px),
                   radial-gradient(circle at 5px 5px, var(--c0) 5px, transparent 5px),
                   linear-gradient(to bottom, transparent 4px, var(--c0) 4px, var(--c0) 5px, transparent 5px),
                   linear-gradient(to right, transparent 4px, var(--c0) 4px, var(--c0) 5px, transparent 5px),
                   linear-gradient(to left, transparent 4px, var(--c0) 4px, var(--c0) 5px, transparent 5px),
                   linear-gradient(to top, transparent 4px, var(--c0) 4px, var(--c0) 5px, transparent 5px);
      --aug-border-opacity: 0.57;
    }
    #terminal {
      --pjAnim-termtexth: 0rem;
      font-family: monospace;
      font-size: 0.5rem;
      font-weight: bold;
      line-height: 1rem;
      color: var(--c1-i);
      white-space: nowrap;
      overflow: hidden;
      position: absolute;
      top: 7px;
      left: 7px;
      right: 7px;
      height: var(--pjAnim-termtexth);
      max-height: calc(100% - 14px);
    }
    #term-cmd {
      --pjAnim-termcmdw: 0%;
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      vertical-align: middle;
      color: var(--c1-i);
      width: var(--pjAnim-termcmdw);
    }
    #wrap3d {
      position: relative;
      display: grid;
      height: 100%;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(5, 1fr);
      perspective: 1077px;
      transform-style: preserve-3d;
    }
    .wrap3d > * {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 100%;
      text-align: center;
      line-height: 1.5;
      /* --bc: var(--do-transform) 2px solid var(--c0);
      border: var(--bc, 1px solid var(--c3)); */
      transform-style: preserve-3d;
      transform-origin: 50% 50%;
      --rotateX: calc(15deg * var(--row));
      --rotateY: calc(-15deg * var(--col));
      --translateZ: calc(-100px * calc(var(--factor) - 4));
      --translateX: calc(2.3px * (6 - var(--factor)) * var(--col));
      --translateY: calc(1px * (6 - var(--factor)) * var(--row));
      --translate: translateZ(var(--translateZ)) translateX(var(--translateX)) translateY(var(--translateY));
      --tf: var(--do-transform) var(--translate) rotateY(var(--rotateY)) rotateX(var(--rotateX));
      transform: var(--tf);
      transition: transform 0.66s cubic-bezier(1, -1.5, 0.33, 2.75), 
                  border 0.66s cubic-bezier(1, -1.5, 0.33, 2.75),
                  box-shadow 0.66s cubic-bezier(1, -1.5, 0.33, 2.75);
    }
    .wrap3d > [data-augmented-ui] {
      --aug-border: initial;
      --aug-border-all: 1px;
      --aug-border-bg: var(--c3);
      outline: 1px solid var(--c3);
      background: repeating-linear-gradient(to right, var(--c1), var(--c2) 15%, var(--c1) 20%);
      --aug-tl: 0px;
      --aug-t: 0px;
      --aug-tr: 0px;
      --aug-r: 0px;
      --aug-br: 0px;
      --aug-b: 0px;
      --aug-bl: 0px;
      --aug-l: 0px;
      --exploded: 0;
    }
    .backdropzone {
      z-index: 10;
      --aug-inlay: initial;
      --aug-inlay-all: 0px;
      --aug-inlay-bg: var(--c0);
      --aug-inlay-opacity: 0.05;
    }
    .backdropzone::before {
      transition: opacity 1s ease-in;
    }
    #presentation.explosion .wrap3d > [data-augmented-ui] {
      --aug-border-bg: var(--c0);
      outline: none;
      --exploded: 1;
      --aug-tl: 0.75rem;
      --aug-t: 0.75rem;
      --aug-tr: 0.75rem;
      --aug-r: 0.75rem;
      --aug-br: 0.75rem;
      --aug-b: 0.75rem;
      --aug-bl: 0.75rem;
      --aug-l: 0.75rem;
    }
    #presentation.explosion .wrap3d > #pres-center {
      --aug-tl: 0.5rem;
      --aug-t: 0.5rem;
      --aug-tr: 0.5rem;
      --aug-r: 0.5rem;
      --aug-br: 0.5rem;
      --aug-b: 0.5rem;
      --aug-bl: 0.5rem;
      --aug-l: 0.5rem;
    }
    #presentation.explosion .wrap3d > #get-augmented {
      --aug-tl1-width: 15%;
      --aug-tr1-width: 15%;
      --aug-tl1-height: 50%;
      --aug-tr1-height: 50%;
      --aug-br1: 50%;
      --aug-bl1: 50%;
      --aug-bl1-clipmod-x: 0.7032967;
      --aug-br1-clipmod-x: 0.7032967;
      --aug-bl1-clipmod-y: 0.2967033;
      --aug-br1-clipmod-y: 0.2967033;
    }
    #get-augmented .pres-text {
      display: none;
    }
    #presentation.explosion #get-augmented .pres-text {
      display: inline-block;
      color: #777;
    }
    #presentation.showv1 .backdropzone {
      opacity: 0.5;
      background: transparent;
    }
    #presentation.fakeend .backdropzone,
    #presentation.explosion .backdropzone {
      --aug-inlay-opacity: 0;
    }
    .left-trim {
      position: absolute;
      height: 100%;
      width: 400px;
      left: 0px;
      top: 0px;
      transform-origin: 0% 50%;
      transform: rotateY(90deg);
      background: linear-gradient(to bottom, var(--c3) 1px, transparent 1px) bottom left / 100% calc(var(--height) / 5),
                  linear-gradient(to left, var(--c0), var(--c4) 110%);
      border: 1px solid var(--c4);
    }
    .right-trim {
      position: absolute;
      height: 100%;
      width: 400px;
      right: 0px;
      top: 0px;
      transform-origin: 100% 50%;
      transform: rotateY(-90deg);
      background: linear-gradient(to bottom, var(--c3) 1px, transparent 1px) bottom left / 100% calc(var(--height) / 5),
                  linear-gradient(to right, var(--c0), var(--c4) 110%);
      border: 1px solid var(--c4);
    }
    .bottom-trim {
      position: absolute;
      height: 400px;
      width: 100%;
      left: 0px;
      bottom: 0px;
      transform-origin: 50% 100%;
      transform: rotateX(90deg);
      background: linear-gradient(to right, var(--c3) 1px, transparent 1px) bottom right / calc(var(--width) / 5) 100%,
                  linear-gradient(to bottom, var(--c0), var(--c4) 110%);
      border: 1px solid var(--c4);
    }
    .top-trim {
      position: absolute;
      height: 400px;
      width: 100%;
      left: 0px;
      top: 0px;
      transform-origin: 50% 0%;
      transform: rotateX(-90deg);
      background: linear-gradient(to right, var(--c3) 1px, transparent 1px) bottom right / calc(var(--width) / 5) 100%,
                  linear-gradient(to top, var(--c0), var(--c4) 110%);
      border: 1px solid var(--c4);
    }
    #chubie {
      position: absolute;
      left: 0px;
      bottom: 0px;
      width: calc(var(--width) / 25);
      height: calc(var(--width) / 10);
      transform: translateZ(-210px) translateX(30px) translateY(2px) scaleX(-1) rotateZ(6deg);
      --chubie-l: var(--media-prefers-light) url("/img/chubie-blue.png");
      background: var(--chubie-l, url("/img/chubie.png")) center bottom / calc(var(--width) / 25) auto no-repeat;
      border: none;
      overflow: visible;
    }
    #chubie::before {
      content: "";
      position: absolute;
      height: 200%;
      width: 125%;
      bottom: 0px;
      left: 25%;
      border-radius: 50%;
      transform-origin: 50% 100%;
      transform: rotateZ(-6deg) rotateX(-90deg) translateZ(-5px) translateY(30px) rotateZ(-5deg);
      background: radial-gradient(at bottom center, var(--c1), transparent 80%);
    }
    .pres-text {
      display: inline-block;
      color: var(--c1-i);
      font-weight: bold;
      margin-top: 20%;
      transform: translateY(-50%);
      white-space: nowrap;
    }
    @keyframes fade-in {
      0% { opacity: 0.0; }
      100% { opacity: 1.0; }
    }
    .fade-in {
      opacity: 0;
      animation: fade-in ease-in 1;
      animation-duration: 1250ms;
      animation-fill-mode: forwards;
    }
    .pres-text .full-shape-mixins-h,
    .pres-text .full-shape-mixins {
      display: inline-block;
      background: var(--c4);
      --aug-border: initial;
      --aug-border-all: 2px;
      color: var(--c0);
      font-size: 0.9rem;
      vertical-align: middle;
      margin-top: 0.125rem;
      margin-left: 0.125rem;
      margin-right: 0.125rem;
      padding-top: 0.125rem;
    }
    .pres-text .full-shape-mixins-h {
      --aug-all-height: 1.75rem;
    }
    .pres-text .full-shape-mixins {
      --aug-all-width: 1.75rem;
    }
    @keyframes to164 {
      0% { content: "0"; }
      0.609756% { content: "1"; }
      1.219512% { content: "2"; }
      1.829268% { content: "3"; }
      2.439024% { content: "4"; }
      3.04878% { content: "5"; }
      3.658536% { content: "6"; }
      4.268292% { content: "7"; }
      4.878048% { content: "8"; }
      5.487804% { content: "9"; }
      6.09756% { content: "10"; }
      6.707316% { content: "11"; }
      7.317072% { content: "12"; }
      7.926828% { content: "13"; }
      8.536584% { content: "14"; }
      9.14634% { content: "15"; }
      9.756096% { content: "16"; }
      10.365852% { content: "17"; }
      10.975608% { content: "18"; }
      11.585364% { content: "19"; }
      12.19512% { content: "20"; }
      12.804876% { content: "21"; }
      13.414632% { content: "22"; }
      14.024388% { content: "23"; }
      14.634144% { content: "24"; }
      15.2439% { content: "25"; }
      15.853656% { content: "26"; }
      16.463412% { content: "27"; }
      17.073168% { content: "28"; }
      17.682924% { content: "29"; }
      18.29268% { content: "30"; }
      18.902436% { content: "31"; }
      19.512192% { content: "32"; }
      20.121948% { content: "33"; }
      20.731704% { content: "34"; }
      21.34146% { content: "35"; }
      21.951216% { content: "36"; }
      22.560972% { content: "37"; }
      23.170728% { content: "38"; }
      23.780484% { content: "39"; }
      24.39024% { content: "40"; }
      24.999996% { content: "41"; }
      25.609752% { content: "42"; }
      26.219508% { content: "43"; }
      26.829264% { content: "44"; }
      27.43902% { content: "45"; }
      28.048776% { content: "46"; }
      28.658532% { content: "47"; }
      29.268288% { content: "48"; }
      29.878044% { content: "49"; }
      30.4878% { content: "50"; }
      31.097556% { content: "51"; }
      31.707312% { content: "52"; }
      32.317068% { content: "53"; }
      32.926824% { content: "54"; }
      33.53658% { content: "55"; }
      34.146336% { content: "56"; }
      34.756092% { content: "57"; }
      35.365848% { content: "58"; }
      35.975604% { content: "59"; }
      36.58536% { content: "60"; }
      37.195116% { content: "61"; }
      37.804872% { content: "62"; }
      38.414628% { content: "63"; }
      39.024384% { content: "64"; }
      39.63414% { content: "65"; }
      40.243896% { content: "66"; }
      40.853652% { content: "67"; }
      41.463408% { content: "68"; }
      42.073164% { content: "69"; }
      42.68292% { content: "70"; }
      43.292676% { content: "71"; }
      43.902432% { content: "72"; }
      44.512188% { content: "73"; }
      45.121944% { content: "74"; }
      45.7317% { content: "75"; }
      46.341456% { content: "76"; }
      46.951212% { content: "77"; }
      47.560968% { content: "78"; }
      48.170724% { content: "79"; }
      48.78048% { content: "80"; }
      49.390236% { content: "81"; }
      49.999992% { content: "82"; }
      50.609748% { content: "83"; }
      51.219504% { content: "84"; }
      51.82926% { content: "85"; }
      52.439016% { content: "86"; }
      53.048772% { content: "87"; }
      53.658528% { content: "88"; }
      54.268284% { content: "89"; }
      54.87804% { content: "90"; }
      55.487796% { content: "91"; }
      56.097552% { content: "92"; }
      56.707308% { content: "93"; }
      57.317064% { content: "94"; }
      57.92682% { content: "95"; }
      58.536576% { content: "96"; }
      59.146332% { content: "97"; }
      59.756088% { content: "98"; }
      60.365844% { content: "99"; }
      60.9756% { content: "100"; }
      61.585356% { content: "101"; }
      62.195112% { content: "102"; }
      62.804868% { content: "103"; }
      63.414624% { content: "104"; }
      64.02438% { content: "105"; }
      64.634136% { content: "106"; }
      65.243892% { content: "107"; }
      65.853648% { content: "108"; }
      66.463404% { content: "109"; }
      67.07316% { content: "110"; }
      67.682916% { content: "111"; }
      68.292672% { content: "112"; }
      68.902428% { content: "113"; }
      69.512184% { content: "114"; }
      70.12194% { content: "115"; }
      70.731696% { content: "116"; }
      71.341452% { content: "117"; }
      71.951208% { content: "118"; }
      72.560964% { content: "119"; }
      73.17072% { content: "120"; }
      73.780476% { content: "121"; }
      74.390232% { content: "122"; }
      74.999988% { content: "123"; }
      75.609744% { content: "124"; }
      76.2195% { content: "125"; }
      76.829256% { content: "126"; }
      77.439012% { content: "127"; }
      78.048768% { content: "128"; }
      78.658524% { content: "129"; }
      79.26828% { content: "130"; }
      79.878036% { content: "131"; }
      80.487792% { content: "132"; }
      81.097548% { content: "133"; }
      81.707304% { content: "134"; }
      82.31706% { content: "135"; }
      82.926816% { content: "136"; }
      83.536572% { content: "137"; }
      84.146328% { content: "138"; }
      84.756084% { content: "139"; }
      85.36584% { content: "140"; }
      85.975596% { content: "141"; }
      86.585352% { content: "142"; }
      87.195108% { content: "143"; }
      87.804864% { content: "144"; }
      88.41462% { content: "145"; }
      89.024376% { content: "146"; }
      89.634132% { content: "147"; }
      90.243888% { content: "148"; }
      90.853644% { content: "149"; }
      91.4634% { content: "150"; }
      92.073156% { content: "151"; }
      92.682912% { content: "152"; }
      93.292668% { content: "153"; }
      93.902424% { content: "154"; }
      94.51218% { content: "155"; }
      95.121936% { content: "156"; }
      95.731692% { content: "157"; }
      96.341448% { content: "158"; }
      96.951204% { content: "159"; }
      97.56096% { content: "160"; }
      98.170716% { content: "161"; }
      98.780472% { content: "162"; }
      99.390228% { content: "163"; }
      100% { content: "164"; }
    }
    @keyframes to200 {
      0% { content: "36"; }
      0.609756% { content: "37"; }
      1.219512% { content: "38"; }
      1.829268% { content: "39"; }
      2.439024% { content: "40"; }
      3.04878% { content: "41"; }
      3.658536% { content: "42"; }
      4.268292% { content: "43"; }
      4.878048% { content: "44"; }
      5.487804% { content: "45"; }
      6.09756% { content: "46"; }
      6.707316% { content: "47"; }
      7.317072% { content: "48"; }
      7.926828% { content: "49"; }
      8.536584% { content: "50"; }
      9.14634% { content: "51"; }
      9.756096% { content: "52"; }
      10.365852% { content: "53"; }
      10.975608% { content: "54"; }
      11.585364% { content: "55"; }
      12.19512% { content: "56"; }
      12.804876% { content: "57"; }
      13.414632% { content: "58"; }
      14.024388% { content: "59"; }
      14.634144% { content: "60"; }
      15.2439% { content: "61"; }
      15.853656% { content: "62"; }
      16.463412% { content: "63"; }
      17.073168% { content: "64"; }
      17.682924% { content: "65"; }
      18.29268% { content: "66"; }
      18.902436% { content: "67"; }
      19.512192% { content: "68"; }
      20.121948% { content: "69"; }
      20.731704% { content: "70"; }
      21.34146% { content: "71"; }
      21.951216% { content: "72"; }
      22.560972% { content: "73"; }
      23.170728% { content: "74"; }
      23.780484% { content: "75"; }
      24.39024% { content: "76"; }
      24.999996% { content: "77"; }
      25.609752% { content: "78"; }
      26.219508% { content: "79"; }
      26.829264% { content: "80"; }
      27.43902% { content: "81"; }
      28.048776% { content: "82"; }
      28.658532% { content: "83"; }
      29.268288% { content: "84"; }
      29.878044% { content: "85"; }
      30.4878% { content: "86"; }
      31.097556% { content: "87"; }
      31.707312% { content: "88"; }
      32.317068% { content: "89"; }
      32.926824% { content: "90"; }
      33.53658% { content: "91"; }
      34.146336% { content: "92"; }
      34.756092% { content: "93"; }
      35.365848% { content: "94"; }
      35.975604% { content: "95"; }
      36.58536% { content: "96"; }
      37.195116% { content: "97"; }
      37.804872% { content: "98"; }
      38.414628% { content: "99"; }
      39.024384% { content: "100"; }
      39.63414% { content: "101"; }
      40.243896% { content: "102"; }
      40.853652% { content: "103"; }
      41.463408% { content: "104"; }
      42.073164% { content: "105"; }
      42.68292% { content: "106"; }
      43.292676% { content: "107"; }
      43.902432% { content: "108"; }
      44.512188% { content: "109"; }
      45.121944% { content: "110"; }
      45.7317% { content: "111"; }
      46.341456% { content: "112"; }
      46.951212% { content: "113"; }
      47.560968% { content: "114"; }
      48.170724% { content: "115"; }
      48.78048% { content: "116"; }
      49.390236% { content: "117"; }
      49.999992% { content: "118"; }
      50.609748% { content: "119"; }
      51.219504% { content: "120"; }
      51.82926% { content: "121"; }
      52.439016% { content: "122"; }
      53.048772% { content: "123"; }
      53.658528% { content: "124"; }
      54.268284% { content: "125"; }
      54.87804% { content: "126"; }
      55.487796% { content: "127"; }
      56.097552% { content: "128"; }
      56.707308% { content: "129"; }
      57.317064% { content: "130"; }
      57.92682% { content: "131"; }
      58.536576% { content: "132"; }
      59.146332% { content: "133"; }
      59.756088% { content: "134"; }
      60.365844% { content: "135"; }
      60.9756% { content: "136"; }
      61.585356% { content: "137"; }
      62.195112% { content: "138"; }
      62.804868% { content: "139"; }
      63.414624% { content: "140"; }
      64.02438% { content: "141"; }
      64.634136% { content: "142"; }
      65.243892% { content: "143"; }
      65.853648% { content: "144"; }
      66.463404% { content: "145"; }
      67.07316% { content: "146"; }
      67.682916% { content: "147"; }
      68.292672% { content: "148"; }
      68.902428% { content: "149"; }
      69.512184% { content: "150"; }
      70.12194% { content: "151"; }
      70.731696% { content: "152"; }
      71.341452% { content: "153"; }
      71.951208% { content: "154"; }
      72.560964% { content: "155"; }
      73.17072% { content: "156"; }
      73.780476% { content: "157"; }
      74.390232% { content: "158"; }
      74.999988% { content: "159"; }
      75.609744% { content: "160"; }
      76.2195% { content: "161"; }
      76.829256% { content: "162"; }
      77.439012% { content: "163"; }
      78.048768% { content: "164"; }
      78.658524% { content: "165"; }
      79.26828% { content: "166"; }
      79.878036% { content: "167"; }
      80.487792% { content: "168"; }
      81.097548% { content: "169"; }
      81.707304% { content: "170"; }
      82.31706% { content: "171"; }
      82.926816% { content: "172"; }
      83.536572% { content: "173"; }
      84.146328% { content: "174"; }
      84.756084% { content: "175"; }
      85.36584% { content: "176"; }
      85.975596% { content: "177"; }
      86.585352% { content: "178"; }
      87.195108% { content: "179"; }
      87.804864% { content: "180"; }
      88.41462% { content: "181"; }
      89.024376% { content: "182"; }
      89.634132% { content: "183"; }
      90.243888% { content: "184"; }
      90.853644% { content: "185"; }
      91.4634% { content: "186"; }
      92.073156% { content: "187"; }
      92.682912% { content: "188"; }
      93.292668% { content: "189"; }
      93.902424% { content: "190"; }
      94.51218% { content: "191"; }
      95.121936% { content: "192"; }
      95.731692% { content: "193"; }
      96.341448% { content: "194"; }
      96.951204% { content: "195"; }
      97.56096% { content: "196"; }
      98.170716% { content: "197"; }
      98.780472% { content: "198"; }
      99.390228% { content: "199"; }
      100% { content: "200+"; }
    }
    .animate-to-164::before {
      content: "0";
      animation: to164 step-end 1;
      animation-duration: 6000ms;
      animation-fill-mode: forwards;
    }
    .animate-to-200::before {
      content: "36";
      animation: to200 step-end 1;
      animation-duration: 6000ms;
      animation-fill-mode: forwards;
    }
    #centerdemo {
      --pjAnim-augscale: 1.0;
      --pjAnim-tl-augscale: 1rem;
      --pjAnim-t-augscale: 1rem;
      --pjAnim-tr-augscale: 1rem;
      --pjAnim-r-augscale: 1rem;
      --pjAnim-br-augscale: 1rem;
      --pjAnim-b-augscale: 1rem;
      --pjAnim-bl-augscale: 1rem;
      --pjAnim-l-augscale: 1rem;
      position: absolute;
      top: 30%;
      bottom: 30%;
      left: 30%;
      right: 30%;
      width: auto;
      height: auto;
      z-index: 20;
      background: transparent;
      --aug-inlay: initial;
      --aug-inlay-all: 0px;
      --aug-inlay-bg: var(--c2);
      --aug-inlay-opacity: calc(0.25 * var(--pjAnim-augscale));
      --aug-tl: var(--pjAnim-tl-augscale);
      --aug-t: var(--pjAnim-t-augscale);
      --aug-tr: var(--pjAnim-tr-augscale);
      --aug-r: var(--pjAnim-r-augscale);
      --aug-br: var(--pjAnim-br-augscale);
      --aug-b: var(--pjAnim-b-augscale);
      --aug-bl: var(--pjAnim-bl-augscale);
      --aug-l: var(--pjAnim-l-augscale);
      --bv-tl: calc(var(--aug-tl) * 4);
      --bv-t: calc(var(--aug-t) * 10);
      --bv-tr: calc(var(--aug-tr) * 4);
      --bv-r: calc(var(--aug-r) * 10);
      --bv-br: calc(var(--aug-br) * 4);
      --bv-b: calc(var(--aug-b) * 10);
      --bv-bl: calc(var(--aug-bl) * 4);
      --bv-l: calc(var(--aug-l) * 10);
      --aug-border: initial;
      --aug-border-all: 2px;
      --aug-border-opacity: 0.75;
      --aug-border-bg: linear-gradient(
        to bottom right, var(--c0) var(--bv-tl), transparent var(--bv-tl)
      ), linear-gradient(
        to bottom, var(--c0) var(--bv-t), transparent var(--bv-t)
      ) center top / var(--bv-t) 50% no-repeat,
      linear-gradient(
        to bottom left, var(--c0) var(--bv-tr), transparent var(--bv-tr)
      ), linear-gradient(
        to left, var(--c0) var(--bv-r), transparent var(--bv-r)
      ) right center / 50% var(--bv-r) no-repeat,
      linear-gradient(
        to top left, var(--c0) var(--bv-br), transparent var(--bv-br)
      ), linear-gradient(
        to top, var(--c0) var(--bv-b), transparent var(--bv-b)
      ) center bottom / var(--bv-b) 50% no-repeat,
      linear-gradient(
        to top right, var(--c0) var(--bv-bl), transparent var(--bv-bl)
      ), linear-gradient(
      to right, var(--c0) var(--bv-l), transparent var(--bv-l)
      ) left center / 50% var(--bv-l) no-repeat;
      transform: translateZ(0);
    }
    #centerdemo::after {
      will-change: background;
    }
    .corepropsdemo #centerdemo {
      --aug-border-bg: var(--c0);
      /* mixin prop values are all 1rem at the start of this and the edge augs are centered */
      --base: 1rem;
      --pjAnim-corepropsscale: 0;
      --aug-tl1: calc(var(--base) + 2.5rem * var(--pjAnim-corepropsscale));
      --aug-tl-extend2: calc(var(--base) * 2 - 0.5rem * var(--pjAnim-corepropsscale));
      --aug-tl2: calc(var(--base) - 0.5rem * var(--pjAnim-corepropsscale));
      --aug-t1: calc(var(--base) + 1rem * var(--pjAnim-corepropsscale));
      --aug-t2: calc(var(--base) - 0.75rem * var(--pjAnim-corepropsscale));
      --aug-tr: calc(var(--base) - 0.5rem * var(--pjAnim-corepropsscale));
      --aug-tr-extend1: calc(var(--base) * 2 + 1.5rem * var(--pjAnim-corepropsscale));
      --aug-br1-height: calc(var(--base) + 1rem * var(--pjAnim-corepropsscale));
      --aug-br2-width: calc(var(--base) + 2.5rem * var(--pjAnim-corepropsscale));
      --aug-b1-height: calc(var(--base) + 1rem * var(--pjAnim-corepropsscale));
      --aug-b2-width: calc(var(--base) + 1rem * var(--pjAnim-corepropsscale));
      --aug-b-extend1: calc(var(--base) + 1rem * var(--pjAnim-corepropsscale));
      --aug-bl: calc(var(--base) - 0.75rem * var(--pjAnim-corepropsscale));
      --aug-bl1-alt-join-in: initial;
      --aug-bl2-alt-join-out: initial;
      --aug-bl-inset1: calc(1rem * var(--pjAnim-corepropsscale));
      --aug-bl-inset2: calc(1rem * var(--pjAnim-corepropsscale));
      --aug-l: calc(var(--base) - 0.5rem * var(--pjAnim-corepropsscale));
      --aug-l-inset1: calc(2.5rem * var(--pjAnim-corepropsscale));
      --aug-t-center: calc(50% + 15% * var(--pjAnim-corepropsscale));
      --aug-r-center: calc(50% - 15% * var(--pjAnim-corepropsscale));
      --aug-b-center: calc(50% - 15% * var(--pjAnim-corepropsscale));
      --aug-l-center: calc(50% + 15% * var(--pjAnim-corepropsscale));
    }
    .lock-bg #centerdemo {
      --aug-border-bg: var(--c0);
    }
    .section-1 {
		text-align: center;
		top: 10%;
		position: relative;
		display: block;
		margin-left: 7.5%;
		margin-right: 7.5%;
      --aug-tl: calc(var(--height) / 5 * 0.25);
      --aug-tr: calc(var(--height) / 5 * 0.25);
      --aug-tl-extend2: 30%;
      --aug-tr-extend1: 30%;
      --aug-border-bg: var(--red-color);
      --aug-border-all: 1px;
      --aug-border-opacity: 0.25;
      --s1smh: var(--media-lte-sm) calc(var(--height) / 10 * 13);
      height: var(--s1smh, calc(var(--height) / 10 * 11));
	  width: var(--s1smh, calc(var(--width) / 9 * 11));
      background: linear-gradient(to bottom right, var(--c2), transparent),
                  repeating-radial-gradient(var(--c0-a), var(--c0-a) 1px, transparent 2px, transparent 50px),
                  repeating-linear-gradient(to right, transparent, transparent 24px, var(--c0-a) 25px, transparent 26px, transparent 100px),
                  repeating-linear-gradient(to bottom, transparent, transparent 24px, var(--c0-a) 25px, transparent 26px, transparent 100px),
                  linear-gradient(var(--c0-a), var(--c0-a)), var(--c1);
      background-size: auto auto, 50px 50px, 100px 100px, 100px 100px, auto auto;
      border-bottom: 0.5rem solid var(--red-color);

      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: "code demo info";
      grid-gap: 3%;
      padding-top: 6vh;
      padding-left: 4vh;
      padding-right: 4vh;
      color: var(--c1-i);
    }
    h1 {
      position: absolute;
      top: -5rem;
      left: 50%;
      transform: translateX(-50%);
      color: white;
      font-size: 1.5rem;
      font-weight: normal;
      opacity: 0.75;
    }
    .section-1 .code-area {
      grid-area: code;
    }
	.section-1 .code-area {
		text-align: left;
      grid-area: code;
    }
    .section-1 .demo-3d {
      grid-area: demo;
      position: relative;
	  top: 10%;
    }
    .section-1 .section-info {
		text-align: left;
      grid-area: info;
    }
    h2 {
      font-size: 4vh;
      font-weight: normal;
      color: var(--c1-i);
    }
    h3 {
      font-size: 2vh;
      font-weight: bold;
      color: var(--red-color);
    }
    .section-1 ul {
      list-style-position: outside;
      line-height: 1.75;
      width: calc(100% - 4rem);
      margin-left: 2rem;
      margin-bottom: 1rem;
	  font-size: 1.75vh;
    }
    .section-1 a {
      color: var(--c1-i);
      text-decoration: underline;
    }

    .my-augfiguration {
      --aug-tr: 1.5rem;
      --aug-br: 1.5rem;
      --aug-bl: 3rem;
      --aug-br-inset2: 40%;
      --aug-border-all: 0.5rem;
      --aug-border-bg: linear-gradient(to bottom right, var(--hot-blue), var(--hot-red));
      --aug-inlay-all: 0.5rem;
      --aug-inlay-bg: url("../images/fruit factory1.jpg") no-repeat fixed center; /*--aug-inlay-bg: #fbe806;*/
      background: linear-gradient(var(--hot-red), var(--hot-blue));
      color: var(--hot-blue);
      font-size: 3rem;
      text-align: center;
      text-shadow: 0px 0px 10px blue;
      line-height: 10rem;
    }
    .my-augfiguration.info-border,
    .my-augfiguration.info-html,
    .my-augfiguration.info-inlay {
      background: none;
    }
    .my-augfiguration.info-inlay {
      --aug-border-bg: transparent;
      background: none;
    }

    .group-3d {
      height: 30rem;
      position: relative;
      left: 0px;
      top: -3rem;
      transform-style: preserve-3d;
      transform-origin: 50% 100%;
      transform: scale(0.75) rotateY(-30deg) rotateX(45deg);
      transition: transform 0.5s ease, left 0.5s ease;
    }
    .my-augfiguration {
      position: absolute;
      height: 70%;
      width: 50%;
      top: 0px;
      left: 0px;
      transition: transform 0.5s ease;
      transition-delay: 0.5s;
    }
    .my-augfiguration:nth-child(1) {
      transform: translateZ(14rem);
    }
    .my-augfiguration:nth-child(2) {
      transform: translateZ(9rem);
    }
    .my-augfiguration:nth-child(3) {
      transform: translateZ(4.5rem);
    }
    .my-augfiguration:nth-child(4) {
      transform: translateZ(0px);
    }
    .compressed {
      left: 40%;
      transform: scale(0.75);
      transition-delay: 0.5s;
    }
    .compressed .my-augfiguration {
      transition-delay: 0s;
    }
    .compressed .my-augfiguration:nth-child(1) {
      transform: translateZ(2.5px);
    }
    .compressed .my-augfiguration:nth-child(2) {
      transform: translateZ(2px);
    }
    .compressed .my-augfiguration:nth-child(3) {
      transform: translateZ(1.5px);
    }
    .compressed .my-augfiguration:nth-child(4) {
      transform: translateZ(1px);
    }
    .expanded-labels {
      position: absolute;
      top: 0px;
      right: 0px;
      text-align: right;
      color: var(--c1-i);
      font-family: monospace;
      font-size: 2.5vh;
      line-height: 2.5vh;
      width: 0px;
      overflow: hidden;
      transition: transform 250ms ease, width 250ms ease;
      transition-delay: 0s;
    }
    .group-3d:not(.compressed) .expanded-labels {
      width: 50%;
      transform: rotateX(-45deg) translateY(-9rem);
      transition-delay: 1s;
    }
    .label-line {
      --aug-bl-inset2: 75%;
      --aug-bl: 0.5rem;
      height: 0.6rem;
      width: 100%;
      margin-bottom: 3rem;
    }
    .code-area {
      position: relative;
    }
    .code-container {
      position: absolute;
      left: 0px;
      right: 1rem;
      top: 0.5rem;
      bottom: 2rem;
      --aug-tl: 1rem;
      --aug-border-all: 1px;
      --aug-border-bg: var(--red-color);
      --aug-inlay-all: 0.5rem;
      --aug-inlay-bg: var(--c1);
      --aug-tr: 0.5rem;
      --aug-tr-inset1: 15%;
      --aug-br: 0.5rem;
      --aug-br-extend1: 55%;
      --aug-br-extend2: 55%;
    }
    .code-type-label {
      display: block;
      margin-top: 2rem;
      margin-left: 1rem;
      margin-right: 2rem;
      padding: 0.125rem;
      padding-left: 0.25rem;
      font-size: 0.75rem;
      background: var(--c1-i);
      color: var(--c1);
      font-weight: bold;
      opacity: 0.66;
      border-top-left-radius: 0.25rem;
      --aug-clip-br1: initial;
      --aug-br1: 1rem;
    }
    .section-1 code {
      display: block;
      margin: 0.5rem;
      margin-left: 2rem;
      margin-right: 2rem;
      overflow: hidden;
    }
	
	.section-1 h1 {
		font-size: 30px;
	}

    .section-1 code,
    .section-1 code span {
      font-family: monospace;
      font-size: 0.75rem;
      line-height: 1.25;
      white-space: nowrap;
    }

    [data-highlight-info="info-settings"] .code-area .info-settings,
    [data-highlight-info="info-augs"] .code-area .info-augs,
    [data-highlight-info="info-props"] .code-area .info-props,
    [data-highlight-info="info-clip"] .code-area .info-clip,
    [data-highlight-info="info-augmented"] .code-area .info-augmented,
    [data-highlight-info="info-border"] .code-area .info-border,
    [data-highlight-info="info-html"] .code-area .info-html,
    [data-highlight-info="info-inlay"] .code-area .info-inlay,
    [data-highlight-info="info-background"] .code-area .info-background,
    .section-1 code span:hover {
      background: var(--c1-i);
      color: var(--c1);
    }

    .highlighted-info {
      position: absolute;
      left: -1.5vh;
      top: 15%;
      width: 50%;
      height: 50%;
      color: var(--c1-i);
      font-family: monospace;
      padding: 0.75vh;
      font-size: 2vh;
      line-height: 2vh;
      --aug-tl: 0.75vh;
      --aug-tr: 0.75vh;
      --aug-br: 0.75vh;
      --aug-bl: 0.75vh;
      --aug-border-all: 1vh;
      --aug-border-bg: radial-gradient(circle at top left, var(--red-color), var(--red-color) 1.75rem, transparent 1.75rem),
                       radial-gradient(circle at top right, var(--red-color), var(--red-color) 1.75rem, transparent 1.75rem),
                       radial-gradient(circle at bottom left, var(--red-color), var(--red-color) 1.75rem, transparent 1.75rem),
                       radial-gradient(circle at bottom right, var(--red-color), var(--red-color) 1.75rem, transparent 1.75rem);
      opacity: 1;
      transition: opacity 0.25s ease, width 0.33s ease;
      transition-delay: 0.33s;
    }

    [data-highlight-info=""] .highlighted-info {
      width: 0px;
      opacity: 0;
      transition: opacity 0.25s ease, width 0.33s ease;
      transition-delay: 0s;
    }

    .highlighted-info > div {
      display: none;
    }

    [data-highlight-info="info-fallback"] .highlighted-info .show-fallback,
    [data-highlight-info="info-settings"] .highlighted-info .show-settings,
    [data-highlight-info="info-augs"] .highlighted-info .show-augs,
    [data-highlight-info="info-props"] .highlighted-info .show-props,
    [data-highlight-info="info-clip"] .highlighted-info .show-clip,
    [data-highlight-info="info-augmented"] .highlighted-info .show-augmented,
    [data-highlight-info="info-border"] .highlighted-info .show-border,
    [data-highlight-info="info-html"] .highlighted-info .show-html,
    [data-highlight-info="info-inlay"] .highlighted-info .show-inlay,
    [data-highlight-info="info-background"] .highlighted-info .show-background {
      display: block;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
    }